:root {
  --color-green: #a4ffaf;
  --color-white: #e6e5ea;
  --color-dark: #18171f;
  --color-red: #f64a4a;
  --color-orange: #fb7c58;
  --color-yellow: #f8cd65;
  --border-default: 2px solid var(--color-white);
  --border-green: 2px solid var(--color-green);
  --thumb-size: clamp(0.9rem, 1.5vw, 1.25rem);
  --checkbox-size: clamp(0.75rem, 1.5vw, 0.875rem);
}

body {
  font-family: "JetBrains Mono", monospace;
}

.checkbox-box {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
}

.box {
  border: var(--border-default);
}

.password {
  color: var(--color-white);
}

.check-icon {
  display: none;
}

.icon {
  display: block;
}

.checked {
  border: var(--border-green);
  background-color: var(--color-green);
}

.checkbox-box:hover {
  border: var(--border-green);
}

.slider {
  background: linear-gradient(
    to right,
    var(--color-green) var(--fill),
    var(--color-dark) var(--fill)
  );
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 100%;
  background: var(--color-white);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: #000000;
  border: 1px solid var(--color-green);
}

.slider::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  border-radius: 50%;
  background: var(--color-white);
  border: none;
  cursor: pointer;
}

.copy-icon:hover {
  filter: brightness(0) invert(1);
  cursor: pointer;
}

.generate-btn:hover img {
  filter: brightness(0) invert(1) sepia(1) saturate(5) hue-rotate(80deg);
}
